---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Abiria.dev">
	<div class="w-screen min-h-screen bg-black">
		<main>
			<header class="flex flex-col items-center">
				<img src="https://gravatar.com/avatar/ac39e88ec9de9473af852845fa67cc902c3bdb54d54bf4782cbb8c033e85e3b2?s=128" class="[clip-path:circle()]" />
				<hgroup class="flex flex-col items-center">
					<h1 class="text-purple-300 text-4xl font-title font-extrabold">Abiria.dev</h1>
					<p class="text-white text-center">I code cuz it's fun.<br>And since it can make the world better.</p>
				</hgroup>
			</header>
		</main>
	</div>
</Layout>
