---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Abiria.dev">
	<div class="w-screen min-h-screen bg-black">
		<main>
			<h1 class="text-purple-300">Abira.dev</h1>
		</main>
	</div>
</Layout>
