---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Abiria.dev">
	<div class="w-screen min-h-screen bg-black">
		<main>
			<div class="title-section">
				<h1 class="text-purple-300">Abira.dev</h1>
				<p class="text-white">I code cuz it's fun.<br>And since it can make the world better.</p>
			</div>
		</main>
	</div>
</Layout>
